.footer {
    position: relative;
    margin: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
    height: max-content;
    margin-top: 50px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    margin: 10px;
  }
  
  .sub {
    display: flex;
    justify-content: space-evenly;
    font-size: small;
   
  }
  
  .sub p {
    margin: 5px;
    font-size:smaller;
  }
  .footerSocialLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: larger;
    color:black;
    
  }
  .footerSocialLinks div{
    flex-wrap: wrap;
  margin: 15px;
  font-size:large;
  font-size: 20px;
   
  }
  .footersFooter{
    background-color: #002f34;
    height:60px;
    display: flex;
    justify-content: space-between;
    color: #f5f5f5;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
  }
  .storeLogo{
    display: flex;
    justify-content: space-between;
  }
 
  @media screen and (max-width: 720px) {
    .sub {
      flex-direction: column;
    }
    .footerSocialLinks{
        flex-wrap: wrap;
    }
    .storeLogo{
      flex-direction: column;
      flex-wrap: wrap;

      }
}
  

